<div class="row">
            <!-- header part -->
            <div class="col-xs-12 col-md-12">
                    <a href="#/file/Testcase" class="pull-right"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>&nbsp;Back</a>      
            </div>
</div>   
<div class="loginbox">
        <div class="panel panel-info panel-info-testcase">
            <div class="panel-heading">
                <div class="panel-title">JDPA Servey</div>
            </div>

            <div class="panel-body">
                <center>
                    <p>
                        <button style="width:270px" class="btn btn-lg btn-default" ng-click="generateFileName()">Generate TestCases</button>
                    </p>
                    <p>
                        <label id="generate-testcase-alert" class="alert alert-danger">Status: {{ message }}</label>
                    </p>
                </center>
            </div>
        </div>
    </div>